APP_CONFIG_PATH='./config/'
APP_LOCALE='de_DE.UTF-8'

LOG_FILE='pipaper.log'
LOG_LEVEL='DEBUG'

BRIGHTSKY_SOURCE='https://api.brightsky.dev'
BRIGHTSKY_ENDPOINT='/weather?lat={}&lon={}&unit={}&tz={}&date={}&end_date={}'
BRIGHTSKY_LON=7.149612
BRIGHTSKY_LAT=51.448498
BRIGHTSKY_UNIT='dwd'
BRIGHTSKY_TIMEZONE='Europe/Berlin'
´
GOOGLE_API_SOURCE='https://www.googleapis.com'
GOOGLE_API_SCOPES='/auth/calendar.readonly,/auth/calendar,/auth/calendar.events,/auth/calendar.events.readonly'
#/auth/calendar.readonly,/auth/calendar,/auth/calendar.events,/auth/calendar.events.readonly